@use "variables";

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style{
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s box-shadow 0.2s;
}